#resultCV {
  height: 29.7cm;
  background-color: rgb(255, 255, 255);
  aspect-ratio: 1 / 1.4142;
  box-shadow: 3px 3px 10px rgba(66, 66, 66, 0.685);
  border-radius: 5px;
  transition: transform 1s;
}

#resultCV.resultEmpty #contentContainerCV #mainContent {
  display: none;
}
@media (min-width: 1500px) {
  #resultCV {
    transform: scale(0.85);
  }
}
@media (max-width: 1500px) {
  #resultCV {
    transform: scale(0.8);
  }
}

@media (max-width: 1350px) {
  #resultCV {
    transform: scale(0.75);
  }
}

@media (max-width: 1250px) {
  #resultCV {
    transform: scale(0.7);
  }
}

@media (max-width: 1150px) {
  #resultCV {
    transform: scale(0.65);
  }
}
@media (max-width: 1100px) {
  #resultCV {
    transform: scale(0.6);
  }
}
@media (max-width: 1000px) {
  #resultCV {
    transform: scale(0.55);
  }
}
@media (max-width: 950px) {
  #resultCV {
    transform: scale(0.6);
  }
  #resultCont {
    height: 80vh;
  }
  #hideViewBtn {
    display: none;
  }
}
@media (max-width: 500px) {
  #resultCV {
    transform: scale(0.45);
  }
}
