html {
  height: 100vh;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

input {
  font-family: "Roboto";
}
button {
  background-color: transparent;
  border: none;
}

#appCont {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

#resultCont {
  position: fixed;
  right: 0px;
  width: 50%;
  height: 100%;
  background-color: rgb(159, 171, 194);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
}
#pushLeft {
  justify-self: flex-end;
  position: relative;
  width: 40%;
  height: 10px;
  right: 0;
  transition: display;
  transition-delay: 2s;
}

#resultCont.hideCV,
#pushLeft.hideCV {
  transform: translateX(1000px);
}

#pushLeft.hideCV {
  display: none;
}

@media (max-width: 1000px) {
  #appCont {
    justify-content: flex-start;
  }
  #appCont.viewIsHidden {
    justify-content: center;
  }
}
@media (max-width: 950px) {
  #appCont {
    flex-direction: column;
    align-items: center;
  }
  #resultCont {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 4rem
  }
  #editorCV {
    width: fit-content;
    padding-left: 0;
    padding-right: 0;
  }
}
